body, html {
	font-family: 'Open Sans';
}

// DESKTOP STYLE
@media screen and(min-width: 500px) {
	.timeline {
		width: 75%;
		height: 20px;
		margin: 10em auto;
		background-color: #122244;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 -15px 65px 0 rgba(209,199,211,1);
		padding: 0.25em;
		position: relative;
	}
	.timeline-progress {
		display: block;
		height: 100%;
		width: 0;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 7px;
		background: #b3eaff;
		background: url('../img/gradient.png') no-repeat, linear-gradient(to bottom, #b3eaff 0,#6cc7ee 10%,#68bfe6 30%,#3f779b 80%,#336185 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#b3eaff', endcolorstr='#336185',gradienttype=0 );
		animation: Animation 3s forwards;
		background-size: 175px 100%, 200% 100%;
	}
	@-webkit-keyframes Animation {
		0% {
			background-position: 10% 0;
		}
		50% {
			background-position: 100% 0;
		}
	}
	@-moz-keyframes Animation {
		0% {
			background-position: 10% 0;
		}
		50% {
			background-position: 100% 0;
		}
	}
	@keyframes Animation {
		0% {
			background-position: 10% 0;
		}
		100% {
			background-position: 100% 0;
		}
	}
	.icon {
		text-align: center;
		color: #FFF;
		font-size: 18px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: #122244;
		top: -6px;
		left: 0;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%);
		cursor: pointer;
		border: 5px solid #122244;
	}
	p {
		&.data_title {
			border-bottom: 1px solid #70cfa8;
			margin: 0;
			padding: 5px 0;
			font-weight: bold;
		}
		&.name_title {
			margin: 0;
			padding: 5px;
		}
	}
	#tooltip {
		text-align: center;
		max-width: 85px !important;
		font-size: 11px;
		color: #122244;
		background: #FFF;
		position: absolute;
		z-index: 100;
		padding: 0;
		border: 1px solid #70cfa8;
		&:after {
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #70cfa8;
			content: '';
			position: absolute;
			left: 50%;
			bottom: -10px;
			margin-left: -10px;
		}
		&.top:after {
			border-top-color: transparent;
			border-bottom: 10px solid #70cfa8;
			top: -20px;
			bottom: auto;
		}
		&.left:after {
			left: 10px;
			margin: 0;
		}
		&.right:after {
			right: 10px;
			left: auto;
			margin: 0;
		}
	}
}


.icon {
	&:hover {
		background: #cfd6db;
		background: linear-gradient(to bottom, #cfd6db 0,#8ad9b9 4%,#70cfa8 7%,#70cfa8 25%,#56b18c 82%,#56b18c 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#cfd6db', endcolorstr='#56b18c',gradienttype=0 );
	}
	&.past {
		font-size: 18px;
		background: #cfd6db;
		background: linear-gradient(to bottom, #cfd6db 0,#84d0f1 4%,#6cc7ee 7%,#68bfe6 14%,#68bfe6 25%,#5fafd6 43%,#4a8aaf 79%,#417a9f 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#cfd6db', endcolorstr='#417a9f',gradienttype=0 );
		color: #122244;
		&:hover {
			background: #cfd6db;
			background: linear-gradient(to bottom, #cfd6db 0,#8ad9b9 4%,#70cfa8 7%,#70cfa8 25%,#56b18c 82%,#56b18c 100%);
			filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#cfd6db', endcolorstr='#56b18c',gradienttype=0 );
		}
	}
}

// MOBILE STYLE
@media screen and(max-width: 500px) {
	.timeline {
		display: block;
		overflow: hidden;
		padding: 0 25%;
	}
	.icon {
		text-align: center;
		color: #FFF;
		font-size: 18px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		background-color: #122244;
		margin: 7px 0;
		float: left;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		cursor: pointer;
		border: 5px solid #122244;
	}
	.info {
		float: left;
		margin: 0 0 0 10px;
		p {
			&.data_title {
				font-size: 14px;
				margin: 13px 0 0 5px;
				padding: 0;
				font-weight: bold;
				line-height: 1em;
			}
			&.name_title {
				font-size: 10px;
				margin: 0 0 0 5px;
				padding: 0;
			}
		}
	}
}
